@model IEnumerable<PGReservation.Models.PGBeds>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BedNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BedNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedStatus)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.BedID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BedID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BedID }) |*@
            @Html.ActionLink("Add Patient", "AddPatient", new { id = item.BedID }) |
            @Html.ActionLink("View Patient Info", "ViewPatient", new { id = item.BedID })
        </td>
    </tr>
}

</table>
